.skills-container {
    width: 100vw;
    height: 70vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-content {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-box01 {
    width: 48%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skill-box01 h1 {
    color: whitesmoke;
}

.skill-box01 h3 {
    color: rgb(228, 50, 50);
}

.skill-text {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-text p {
    color: rgb(161, 161, 161);
}

.skill-box02 {
    width: 48%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skill-item {
    width: 100%;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills p {
    color: whitesmoke;
    font-weight: bold;
}

.bar01-html {
    width: 44%;
    background-color: whitesmoke;
    height: 5px;
    border-radius: 10px;
    position: absolute;
}

.bar02-html {
    width: 37.4%;
    background-color: rgb(228, 50, 50);
    height: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
}

.bar01-css {
    width: 44%;
    background-color: whitesmoke;
    height: 5px;
    border-radius: 10px;
    position: absolute;
}

.bar02-css {
    width: 30.8%;
    background-color: rgb(228, 50, 50);
    height: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
}

.bar01-js {
    width: 44%;
    background-color: whitesmoke;
    height: 5px;
    border-radius: 10px;
    position: absolute;
}

.bar02-js {
    width: 22%;
    background-color: rgb(228, 50, 50);
    height: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
}

.bar01-react {
    width: 44%;
    background-color: whitesmoke;
    height: 5px;
    border-radius: 10px;
    position: absolute;
}

.bar02-react {
    width: 17.6%;
    background-color: rgb(228, 50, 50);
    height: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
}