.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 75rem;
  height: 32rem;
  background-color: rgb(32, 32, 32);
  padding: 1rem;
  border-radius: 20px;
}

.container01 {
  height: 100%;
  width: 40%;
}
